@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:300,700&display=swap');

:root {
  --white: #fff;
  --gray: #485363;
  --light-gray: #b8c0cb;
  --primary: #003278;
  --secondary: #49c2ff;
  --tertiary: #c50052;
  --text-default: #00122c;

  --font-family-display: Merriweather, Georgia, 'Times New Roman', Times, serif;
  --font-family-main: Muli, Arial, Helvetica, sans-serif;

  --box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.75);
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100rem;
  font-family: var(--font-family-main);
  margin: 0 auto;
  padding: 3rem;
  background-color: var(--primary);
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--text-default);
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.text-light {
  color: var(--white);
}

.text-bold {
  font-weight: bold;
}

/* ======= HEADER ======= */

header {
  position: relative;
}

.heading--tier-1 {
  margin-bottom: 4rem;
  padding: 2.5rem 1rem;
  border: 0.2rem solid transparent;
  border-bottom-color: var(--white);
  font-family: var(--font-family-display);
  font-weight: 600;
  font-size: 6rem;
}

.heading--tier-2 {
  font-family: var(--font-family-display);
  font-weight: 600;
  font-size: 2.5rem;
}

.tagline {
  display: block;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  line-height: 0.5;
}

/* ======= BUTTONS ======= */

.btn {
  position: absolute;
  border: 0.2rem solid transparent;
  border-radius: 0.4rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--font-family-display);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
  background-color: var(--tertiary);
  color: var(--white);
  transition: color 0.6s, background-color 0.6s;
}

.btn:hover {
  background-color: var(--white);
  color: var(--text-default);
  border-color: var(--tertiary);
}

.btn:focus,
.card--heading__link:focus {
  outline-offset: 0.5rem;
}

.btn-kitten span {
  vertical-align: middle;
}

.btn-kitten {
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 23rem;
  padding: 1rem 2rem;
}

.btn-kitten:focus {
  outline: var(--white) dashed 0.2rem;
}

.btn-card {
  width: calc(100% - 2rem);
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 1rem;
}

.btn-card:focus,
.card--heading__link:focus {
  outline: var(--text-default) dashed 0.2rem;
}

/* ======= KITTEN MODE ======= */

.kitten-mode {
  background-image: url('../img/cat.svg');
  background-size: 5rem;
  background-repeat: repeat;
}

.kitten-mode .heading--tier-1 {
  background-color: var(--primary);
  border-color: var(--white);
  border-radius: 4px;
}

.kitten-mode .btn-kitten {
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
}

.sad-kitten {
  width: 3.5rem;
  display: inline-block;
  vertical-align: middle;
  margin-right: 1rem;
}

/* ======= RESULTS AND CARDS ======= */

.results--container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  position: relative;
  min-width: 30rem;
  width: calc(50% - 1.5rem);
  margin: .75rem;
  padding: 1rem 1rem 6rem 1rem;
  background-color: var(--white);
  border-radius: 0.4rem;
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
  box-shadow: var(--box-shadow);
}

.card--heading {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid;
}

.card--heading__link {
  text-decoration: none;
  color: var(--text-default);
}

.card--heading__link:hover {
  text-decoration: underline;
}

.icon-link {
  display: inline;
  width: 1.5rem;
}

.card--heading__subhead {
  font-size: 1.3rem;
  color: var(--gray);
}

/* ======= COMMITS ======= */

ul.card--commit-list {
  list-style-type: none;
  padding-bottom: 0;
  margin: 3rem 0 6rem;
}

.card--no-commits {
  margin: 2rem 0;
  font-weight: bold;
}

/* ======= ERRORS ======= */

.error {
  text-align: center;
}

.sad-trombone {
  margin: 2rem auto;
}

/* ======= LOADER ======= */

.loader {
  margin: 0 auto;
}

.loader img {
  width: 20rem;
  margin: 0 auto;
}

.loader .heading--tier-2 {
  text-align: center;
}

.hide-loader {
  display: none;
}